/*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

main{
    width: 100%;
    height: 500px;
    border: 5px solid gray;
    padding: 8px 3px;
}

*/
html{
    font-size: 75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
